<div class="col-sm-3">
  <h2>User info</h2>
  <%= form_for(@user) do |user| %>
    <%= attachment_image_tag @user, :image, :fill, 100, 100, class: "attachment user image", fallback: "no-image.jpg" %>
  <% end %>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th>
          <%= @user.name %>
        </th>
      </tr>
      <tr>
        <th>introduction</th>
        <th>
          <%= @user.introduction %>
        </th>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <% if @user.id == current_user.id %>
      <%= link_to "", edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
    <% end %>
  </div>
  <h2>New book</h2>
  <%= form_for(@book) do |book| %>
    <div class="field row">
      <%= book.label :title, "Title" %>
      <%= book.text_field :title, class: "col-xs-12 book_title" %>
    </div>
    <div class="field row">
      <%= book.label :body, "Opinion" %>
      <%= book.text_area :body, class: "col-xs-12 book_opinion" %>
    </div>
    <div class="actions row">
      <%= book.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
    </div>
  <% end %>
</div>
