<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <p class="header-logo">Bookers</p>
      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="glyphicon glyphicon-home home"> Home</a></li>
          <li><a href="#" class="glyphicon glyphicon-link about"> About</a></li>
          <li><a href="#" class="glyphicon glyphicon-edit sign_up"> sign up</a></li>
          <li><a href="#" class="glyphicon glyphicon-log-in sign_in"> login</a></li>
        </ul>
      </nav>
    </div>
  </header>
    <%= yield %>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
